/* top menu*/
ul.top-menu {
	list-style:none;
	margin:0; padding:0;
	position: relative; /*IE bug*/
}
ul.top-menu li {float:left;}
ul.top-menu li:last-child{margin-right:0px;}
ul.top-menu li a {
	font-size: 14px;
	line-height: 14px;
	display: block;
	padding: 14px 10px;
	height: 14px;
	text-decoration: none;
	color: #2e2e2e;
}
ul.top-menu li a:hover {background-color: #CEE5F7;}
ul.top-menu li a.selected {background-color: #CEE5F7;}


