.top_menu,
.top_menu * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.top_menu:before,
.top_menu  *:before,
.top_menu:after,
.top_menu *:after,  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.top_menu {
	display:block;
	background:url(images/m_0.png) 0 0 repeat-x;
	padding:4px 0;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:#666 0px 1px 2px;
	-moz-box-shadow:#666 0px 1px 2px;
	box-shadow:#666 0px 1px 2px;
	height:33px;
}

.menu {position:relative; display:inline-block; margin:0 0 0 10px; padding:0; list-style:none; z-index:100;}
.menu li {float:left; display:block; font-size:110%; margin:0; line-height:23px;}
.menu li a {color:#FFF; padding:0 15px; display:inline-block; position:relative; text-decoration:none;}
.menu li a:hover,
.menu li a:focus {text-decoration:none !important;}

.menu li.jshover a.root-item,
.menu li.jshover a.root-item-selected {background:#FFF; z-index:501; color:#666; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; height:40px;}
.menu li.not_parent a.root-item,
.menu li.not_parent a.root-item-selected {height:auto !important;}

.menu li a.root-item,
.menu li a.root-item-selected {font-family:'MyriadProRegular';}

.menu li ul {position:absolute; padding:10px 0; margin:0; top:0; left:0; display:none; z-index:500; height:auto; width:180px; background:#FFF; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:#999 2px 1px 6px; -moz-box-shadow:#999 2px 1px 6px; box-shadow:#999 2px 1px 6px;}
.menu ul.first_lvl {top:32px;}
.menu li ul ul {margin:0 0 0 170px;}

.menu li.first_lvl_selected {background:#FFFFFF; color:#666; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;}
.menu li.first_lvl_selected a.root-item-selected {color:#666;}

.menu li ul li {display:block; padding:4px 0; clear:both; float:none; font-size:13px; line-height:1.2em;}
.menu li li.parent_li {padding:0;}
.menu li li.parent_li span {display:block;}

.menu li li.parent_li span.parent_span {background:url(images/str_menu.png) 88% 50% no-repeat; position:relative; z-index:510; padding:10px 0;}
.menu li li.parent_li span.over {background-color:#FFF;}

.menu li i.l_bt,
.menu li i.l_top {display:none;}
.menu li li.parent_li span.over i.l_bt {position:absolute; display:block; bottom:-4px; right:10px; width:53px; height:5px; background:url(images/ten_menu_bt.png) 100% 100% no-repeat;}
.menu li li.parent_li span.over i.l_top {position:absolute; display:block; top:-4px; right:10px; width:53px; height:5px; background:url(images/ten_menu_top.png) 100% 0 no-repeat;}

.menu li li.jshover a.hover {color:#7AACDF;}
.menu li li a {color:#999; padding:0 34px 0 15px;}
.menu li li a:hover,
.menu li li a:focus {color:#7AACDF;}

.menu .show_menu {display:block;}

.menu li.zap_top,
.menu li.zap_bt {display:block; position:absolute; left:-1px; width:14px; height:22px; margin:0; padding:0;}
.menu li.zap_top {background:url(images/zap_menu_top.png) 0 0 no-repeat; top:0; left:-4px;}
.menu li.zap_bt {background:url(images/zap_menu_bt.png) 0 0 no-repeat; bottom:0px; left:-4px;}

.menu li.first_lvl_parent {position:relative;}

.menu span.parent_span {float:none !important; margin:0;}