div.separator {
    border-top:1px solid #94bfdc;
    margin: 10px 0;
}
.bx-auth-profile {
    border:1px solid #94bfdc;
    border-top: 0;
    padding: 20px 0;
    margin-bottom: 20px;
}
.bx-auth-profile table {
    width: 610px;
    margin: 0 auto;
}
#personal-box{
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 1px 0 0 #D2D2D2;
}
.bx-auth-profile table tr td:first-child {
    width: 40%;
}
.bx-auth-profile table td{
    padding: 6px 0;
    font-size: 14px;
    width: 60%;
}
.bx-auth-profile table td input[type='text'],
.bx-auth-profile table td input[type='password']{
    width: 100%;
    height: 24px;
    border-color: #D2D2D2;
    padding-left: 10px;
    border: 1px solid #94bfdc;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(204, 204, 204, 1) inset;
    -moz-box-shadow: 0 1px 1px 0 rgba(204, 204, 204, 1) inset;
    -webkit-box-shadow: 0 1px 1px 0 rgba(204, 204, 204, 1) inset;
}
.bx-auth-profile p {
    padding: 0 20px;
}
.bx-auth-profile input[type="submit"] {
    line-height: 16px;
	cursor: pointer;
	border: 1px solid #7baa34;
	height: 28px;
	font-size: 15px;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.05, #B2D380),
		color-stop(0.05, #8BBD40),
		color-stop(1, #638E23)
	);
	background-image: -o-linear-gradient(bottom, #B2D380 5%, #8BBD40 5%, #638E23 100%);
	background-image: -moz-linear-gradient(bottom, #B2D380 5%, #8BBD40 5%, #638E23 100%);
	background-image: -webkit-linear-gradient(bottom, #B2D380 5%, #8BBD40 5%, #638E23 100%);
	background-image: -ms-linear-gradient(bottom, #B2D380 5%, #8BBD40 5%, #638E23 100%);
	background-image: linear-gradient(to bottom, #B2D380 5%, #8BBD40 5%, #638E23 100%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width:100px;
	opacity:0.9;
}
.bx-auth-profile input[type="submit"]:hover {
    opacity: 1;
}
.starrequired {
    color: #8dbf41;
}


/*tabs*/
.personal_navigation{
	border:1px solid #94bfdc;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	 border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	margin: 21px 0 0;
	border-bottom: 0;
}
.personal_navigation .tabs-menu{
	height:34px;
	background-color:#eaf2f8;
	border-bottom:1px solid #94bfdc;
}
.personal_navigation .tabs-menu a{
	color:#000;
	line-height:34px;
	font-size:18px;
	font-weight:300;
	display:block;
	float:left;
	text-decoration:none;
	padding:0 10px;
}
.personal_navigation .tabs-menu a.active{
	background-color:#fff;
	line-height: 35px;
	border-right: 1px solid #94bfdc;
	border-left: 1px solid #94bfdc;
	margin-left:-1px;
	padding-left:11px;
}
.personal_navigation .tabs-menu a.logout {
	float:right;
	display: block;
	text-decoration: none;
	text-align:center;
	margin:-1px -1px 0 0;
	padding: 0 45px;
	line-height: 33px;
	cursor: pointer;
	height: 36px;
	font-size: 16px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity:0.9;
	width:225px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;


	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
	color:#555555;
	border:1px solid #94bfdc;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.05, #F2F2F2),
		color-stop(0.05, #EBEBEB),
		color-stop(1, #CACACA)
	);
	background-image: -o-linear-gradient(bottom, #F2F2F2 5%, #EBEBEB 5%, #CACACA 100%);
	background-image: -moz-linear-gradient(bottom, #F2F2F2 5%, #EBEBEB 5%, #CACACA 100%);
	background-image: -webkit-linear-gradient(bottom, #F2F2F2 5%, #EBEBEB 5%, #CACACA 100%);
	background-image: -ms-linear-gradient(bottom, #F2F2F2 5%, #EBEBEB 5%, #CACACA 100%);
	background-image: linear-gradient(to bottom, #F2F2F2 5%, #EBEBEB 5%, #CACACA 100%);
}
.personal_navigation .tabs-menu a.logout:hover{opacity:1}
.personal_navigation .tabs-menu a.logout:active{line-height: 35px;box-shadow: inset  0 1px 2px 0  rgba(0,0,0,.3);}