/* footer menu*/
ul.footer-menu {
	list-style:none;
	margin:0; 
	padding:18px 0;
	position: relative; /*IE bug*/
	display:inline-block;
}

ul.footer-menu span.separator {
	float:left;
	padding:0 9px;
	color:#7aa4cf;
}
ul.footer-menu li {float:left;}
ul.footer-menu li a {
	font-size:14px;
	line-height:16px;
	color:#7aa4cf;
	text-decoration:underline;
}
ul.footer-menu li a:hover {text-decoration:none;}
ul.footer-menu li a.selected {text-decoration:none;}

